# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\项目和作业\Smart Mask Identification System\python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
